@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

.wrapper {
  padding: 50px 0;
}

img {
  width: 100%;
  object-fit: cover;
}

.text-column-1 {
  width: 34%;
  float: left;
  padding: 30px 70px;
}

.gallery-column-2 {
  width: 66%;
  float: right;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  padding-bottom: 10px;
  cursor: context-menu;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  opacity: 0.85;
  cursor: context-menu;
}


.main-tooltip {
  text-decoration: underline;
}

.tooltip{
  position: absolute;
  display: none;
  z-index: 1;
  background: purple;
  border: 2px solid purple;
}

a {
  font-family: "Bebas Neue", cursive;
  font-size: 17px;
  color: #000;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 90px;
  padding: 10px;
  background: #fff;
  margin-top: 30px;
}

.glide__arrows {
  position: absolute;
  bottom: -30px;
}

.glide__arrow {
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #000;
  font-size: 22px;
  outline: none;
  margin-right: 15px;
  padding: 0;
}

.glide__arrow--left {
  left: 0;
}

.glide__arrow--right {
  right: -90px;
}

.glide__slide {
  transform: scale(0.8);
  filter: brightness(50%);
}

.glide__slide--active {
  transform: scale(0.83);
  filter: brightness(100%);
}
