@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(8, 8, 8);
}

.wrapper {
  padding-top: 80px;
  padding-right: 50px;
  padding-left: 50px;
}

img {
  max-width: 600px;
  object-fit: cover;
  margin-left: 50px;
  padding-right: 100px;
}

.text-column-1 {
  max-width: 33%;
  float: left;
  padding-left: 70px;
}

.gallery-column-2 {
  width: 66%;
  float: right;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #eeeeee;
  margin-bottom: 10px;
  padding-bottom: 5px;
  cursor: context-menu;
}

p {
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  opacity: 0.85;
  cursor: context-menu;
}

.main-tooltip {
  text-decoration: underline;
}

.tooltip {
  font-weight: 600;
  position: absolute;
  display: none;
  transform: translateY(-275%);
  z-index: 1;
  background: rgb(50, 148, 102);
  border: 1px solid rgb(50, 148, 102);
  color: #000;
}

/*navigation*/
a {
  font-family: "Bebas Neue", cursive;
  font-size: 17px;
  color: #000;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 90px;
  padding: 10px;
  background: #eeeeee;
  margin-top: 30px;
  box-shadow: 5px 5px rgb(50, 148, 102);
}

/*both*/
.glide__arrows {
  position: absolute;
  bottom: -40px;
  padding-top: 20px;
  left: 50px;
}

/*individual*/
.glide__arrow {
  background: #eeeeee;
  border: none;
  box-shadow: 5px 5px rgb(50, 148, 102);
  width: 35px;
  height: 35px;
  text-align: center;
  color: #000;
  font-size: 22px;
  outline: none;
  margin-right: 15px;
}

/*.glide__arrow--left {
  left: 0;
}

.glide__arrow--right {
  right: -90px;
}*/
